<div class="container">
  <div class="display_msg">
    <h2>Please Reset Your Password</h2>
    <p>you're signed in as {{ email }}</p>
    <br>

    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <label><b>Enter Old Password</b></label><br>
      <input class="form__field" type="password" [type]="oldpHide ? 'password': 'text'" formControlName="oldPassword"
        placeholder="Enter Old Password" />
      <clr-icon [attr.shape]="oldIcon" (click)="oldShapeChanger()"></clr-icon>
      <div *ngIf="f.oldPassword.invalid && (f.oldPassword.dirty || f.oldPassword.touched)"
        style="color:indianred; font-weight: bold">
        <div *ngIf="f.oldPassword.errors.required">Password is required</div>
      </div>
      <br>
      <label><b>Enter New Password</b></label><br>
      <input class="form__field" type="password" [type]="newpHide ? 'password': 'text'" formControlName="newPassword"
        placeholder="Enter New Password" />
      <clr-icon [attr.shape]="newIcon" (click)="newShapeChanger()"></clr-icon>
      <div *ngIf="f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)"
        style="color:indianred; font-weight: bold">
        <div *ngIf="f.newPassword.errors.required">password is required</div>
        <div *ngIf="f.newPassword.errors.minlength">Password must be 8 Characters</div>
      </div>
      <br>
      <label><b>Re-Enter New Password</b></label><br>
      <input class="form__field" type="password" [type]="cpHide ? 'password': 'text'" formControlName="confirm_password"
        placeholder="Enter Password" />
      <clr-icon [attr.shape]="conIcon" (click)="comfShapeChanger()"></clr-icon>
      <div *ngIf="f.confirm_password.invalid && (f.confirm_password.dirty || f.confirm_password.touched)"
        style="color:indianred; font-weight: bold">
        <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
        <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
      </div>
      <br>
      <button type="submit" class="btn btn--primary uppercase" [disabled]="!resetPasswordForm.valid">continue</button>
    </form>
    <br>
    <br>
    <p> Wrong account? <a routerLink="/login">Log in</a> instead.</p>
  </div>
</div>