<div class="read-only-pg pad-16">
    <h3>READ ONLY FORM</h3>
    <br />

    <!-- <clr-tabs>
        <clr-tab> -->
            <!-- <clr-tab-content> -->
                <br />
                <table class="s-header">
                    <tr>
                        <td style="width:125px">Id</td>
                        <td> {{student.id}}</td>
                    </tr>
                    <tr>
                        <td>Name </td>
                        <td> {{student.name}} </td>
                    </tr>
                    <tr>
                        <td>Depertment </td>
                        <td> {{student.depertment}} </td>
                    </tr>
                    <tr>
                        <td>Roll number </td>
                        <td> {{student.rollNumber}} </td>
                    </tr>
                    <tr>
                        <td>Created At </td>
                        <td> {{instructor.createdAt}} </td>
                    </tr>
                    <tr>
                        <td>Updated At </td>
                        <td> {{instructor.updatedAt}} </td>
                    </tr>
                </table>
    <br />
    <button (click)="back()" class="btn btn-primary">
        <clr-icon shape="caret left"></clr-icon>Back
    </button>

    <!-- <div class="row">
    <div class="col-lg-12">
            <table class="s-order-line table" style="width:100%;">
                <thead>
                    <tr>
                        <th class="left" style="width:60px;">id</th>
                        <th class="left" style="width:110px;">First Name</th>
                        <th class="left" style="width:200px;">Last Name</th>
                        <th class="left" style="width:150px;">Email</th>
                        <th class="right" style="width:90px;">Created At</th>
                        <th class="right" style="width:90px;">Updated At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="instructor">
                        <td class="left">{{instructor.id}}</td>
                        <td class="left">{{instructor.firstName}}</td>
                        <td class="left">{{instructor.lastName}}</td>
                        <td class="right">{{instructor.email}}</td>
                        <td class="right">{{instructor.createdAt}}</td>
                        <td class="right">{{instructor.updatedAt}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <button (click)="back()" class="btn btn-primary">
            <clr-icon shape="caret left"></clr-icon>Back
        </button>
    </div> -->
</div>