<!-- <clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'lg'">
    <h3 class="modal-title"><b>Extension Field</b></h3>
    <div class="modal-body"> -->
          <!-- <app-add-extension></app-add-extension> -->
          <router-outlet></router-outlet>
         <!-- <app-all-extension></app-all-extension> -->
<!--      </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="buttonClose()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="buttonClose()">Ok</button>
    </div>
</clr-modal>  -->
