<header class="header-6">
  <div class="branding">
      CloudnSure
  </div>
</header>
<div class="container">
 <!--  <h2>Try CloudnSure For Free</h2>
  <p style="font-size:10px;">By singing up, I agree to the cloudnsure <a>Privacy Policy</a> and <a>Terms of Service</a></p> -->
  <div class="display_msg">
    <h2>Please Varify Your Email Address</h2>
    <p style="font-size:18px;">Get Started with cloudnSure Premium! Continue with Google to varify</p>
    <p> Hi {{ email }}</p>

   <!--  <a href="#" class="fb bttn">
      <i class="fa fa-facebook fa-fw"></i> Login with Facebook
     </a>
    <a href="#" class="twitter bttn">
      <i class="fa fa-twitter fa-fw"></i> Login with Twitter
    </a>
    <a href="#" class="google bttn"><i class="fa fa-google fa-fw">
      </i> Login with Google+
    </a> -->
    
    <button type="button" (click)="goToGoogle()" class="btn btn--google"><i class="fa fa-google fa-fw"></i> Continue With Google</button>
    <button type="button" (click)="goToLinkedIn()" class="btn btn--linkedin"><i class="fa fa-linkedin fa-fw"></i> Continue With LinkedIn</button>
    <button type="button" (click)="goToLinkedIn()" class="btn btn--primary"> Continue With Us</button>
    <br>
    <p style="font-size:12px;">If you don't want to continue with Google, complete your signup through the email we sent to your email address.
    <br>Didn't receive an email? <a style="color: blueviolet;">Resend Email</a>.</p>
  </div>
 

</div>


<!-- <h2 style="text-align: center;"> Please Varify Your Email Address</h2>
<br>
<p>Get Started with cloudnSure Premium! Continue with Google to varify</p> -->



