<table [formGroup]="extensionForm">
    <!-- <div formGroupName="extensions"> -->
        <tr>
            <td style="width:125px;">Extension 1 </td>
            <td><input colspan="2" style="width:180px" type="text" formControlName="extn1" placeholder="Enter Extension 1 value">
            </td>
        </tr>
        <tr>
            <td style="width:125px;">Extension 2 </td>
            <td><input colspan="2" style="width:180px" type="text" formControlName="extn2" placeholder="Enter Extension 2 value">
            </td>
        </tr>
    <!-- </div> -->
</table>