<div class="read-only-pg pad-16">
    <h3>EDIT FORM</h3>
    <br />

    <section class="form-block" style="margin-top:32px">
        <form (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td style="width:125px;">First name: </td>
                <td><input colspan="2" type="text" name="firstName" [(ngModel)]="instructor.firstName" style="width:120px"></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td colspan="2"><input type="text" name="lastName" [(ngModel)]="instructor.lastName"> </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td colspan="2"><input type="email" name="email" [(ngModel)]="instructor.email"> </td>
            </tr>
        </table>
        <br>
        <button type="submit" form-control class="btn btn-primary">UPDATE</button>
    </form>
    </section>
    
<!-- <button (click)="back()" class="btn btn-primary">
    <clr-icon shape="caret left"></clr-icon>Back
</button> -->
</div>





