@import "../../../../assets/scss/var";
.s-info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
        outline: none;
    }
}

.grid-pg {
    width:750px;
}


#add {
    //position:absolute;
    position: fixed;
    transition: .5s ease;
    top: 16%;
    left: 79%; 
}
