@import '../../../../assets/scss/var';
.s-info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
        outline: none;
    }
}

.read-only-pg {
    width:750px;
}

#who_icon {
    position:absolute;
    transition: .5s ease;
    top: 94px;
    left: 227px;
}

#build_btn {
    position: absolute;
    transition: .5s ease;
    top: 404px;
    left: 644px;
}

